<div class="main-panel">
  <!--header-->
  <%= render template: "main/_header" %>
  <!--content-->
  <div class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                <%= render 'form', post: @post %>
              </div>
          </div>
      </div>
  </div>


  <!-- footer -->
  <%= render template: "main/_footer" %>

<!--<%= link_to 'Back', posts_path %>-->
</div>