// Place all the styles related to the Galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gallery-div {
    border:1px solid black;
    // height: 30vh;
    padding: 30px;
}
.gallery-div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.gallery-div .gallery-span {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: -30px;
    padding: 0 10px;
}
.gallery-div .gallery-span span {
    color: white;
    font-weight: 700;
    font-size: 1.2em;
    text-shadow: 0 0 5px #333;
}